<ion-view class="pane" role="region">
  <ion-header-bar role="heading" align-title="center" class="bar bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button aria-labelledby="left_navicon_sr" class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear">
        <i class="icon ion-navicon"></i>
        <span id="left_navicon_sr" class="sr-only">{{'Accessibility.Button.Aria.Label.NavIcon' | translate}}</span>
      </button>
    </div>
    <h1 class="title">{{'Home.view.Home' | translate }}</h1>
    <div class="buttons buttons-right header-item">
      
    </div>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
  <h3 data-component="crn-heading" class="col-xs-12 text-center margin-top" id="crn-heading-322622" xattr-position="text-center">{{'ProdutoMaisVendido' | translate}}</h3><div class="col-xs-12 component-holder" data-component="crn-chart" id="crn-chart-604815" ng-init="cronapi.server('blockly.dashboard.DashboardMobile.obterDados').run()"> <canvas id="chart4029" data-component="crn-chart" class="col-xs-12"></canvas></div><h3 data-component="crn-heading" class="col-xs-12 margin-top text-center" id="crn-heading-327039" xattr-position="text-center">{{'FaturamentoPorDia' | translate}}</h3><div class="col-xs-12 component-holder" data-component="crn-chart" id="crn-chart-269328"> <canvas id="chart4454" data-component="crn-chart" class="col-xs-12"></canvas></div></ion-content>
</ion-view>